<div id="header">
          <img src="img/Logo Final.png" height="102px" width="130px" id="imag" style="float:left; align-items:left;">
          <img src="picdoc/11.jpeg" height="102px" width="120px" id="imag"style="float:right; align-items:right;">
        <h1 >ओमकार सेवा संस्थान</h1>
        <h2>छतोह रायबरेली</h2>
        </div>
      <nav class="navbar navbar-expand-md navbar-dark  sticky-top" style="background-color:#ff9b06; color:#FFFFFF;">
        <a href="#" class="navbar-brand"><img src="img/Logo Final.png"  alt="avatar" class="avatar"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar">
          <span class="navbar-toggler-icon"></span></button>
           <div class="collapse navbar-collapse" id="menubar">
            <ul class="navbar-nav ml-auto">
      <li class="nav-item active" ><a href="/" class="nav-link">HOME</a></li>
      <div class="dropdown">
        <li class="nav-item active" ><button class="dropbtn">DONATE</button>
        <div class="dropdown-content" style="background-color:#ff9b06">
            <a  href="#" >Fundraise</a>
            <a  href="#" >Compaign</a>
           <a  href="#" >Donation</a>
           <a   href="#">Philantrophy</a>
           <a  href="#" >Volunteer</a>
           </div>
            </div>
            </li>
          <li class="nav-item active"><a  href="#" class="nav-link">GALLERY</a></li>
        <li class="nav-item active"><a  href="http://localhost:8000/about" data-toggle="modal" data-target="#modalbtn" class="nav-link">ABOUT US</a></li>
        <li class="nav-item active"><a  href="#" class="nav-link">CONTACT US</a></li> 
        <li class="nav-item active"><a  href="#" data-toggle="modal" data-target="#modalbtn" class="nav-link">{{signup}}</a></li>
        <li class="nav-item active"><a  href="#" class="nav-link">LOG IN</a></li>
      </ul>
    </div>
</nav>