<!DOCTYPE html>
<html lang="en">
<head>
  {{>links}}
    <title>About Us</title>
</head>
<body>
    {{>headerstyle}}
    {{>header}}
    <h1>Welcome to about page o omkar sewa Sansthan</h1>
    {{>footer}}
</body>
</html>