<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{>links}}
<!--<ui:include src="header.xhtml" />-->
      </head>
       
      <body>
      {{>headerstyle}}
       {{>header}}

<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
      <li data-target="#demo" data-slide-to="6"></li>
      <li data-target="#demo" data-slide-to="7"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="slider/16.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="slider/17.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="slider/18.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="slider/19.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="slider/20.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="slider/21.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="slider/22.jpeg" alt="img-responsive"width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <br>
  <div class="card" style="width: 18rem; margin:auto;">
    <img class="card-img-top" src="picdoc/11.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4><b>Mr. Prahlad Prabha</b></h4> 
      <p>Director of 
        Omkar Sewa Sansthan</p> 
    </div>
  </div><br>
  <!--CARD GROUP-->
  
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="picdoc/10.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mr. Suresh Kr. Vishwakarma</h5>
          <p class="card-text"> Vice-President
            Omkar Sewa Sansthan</p>
        </div>
      </div>
      &nbsp;&nbsp; 
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="picdoc/9.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mr. Durgesh Maurya </h5>
          <p class="card-text">Cashier
            Omkar Sewa Sansthan</p>
        </div>
      </div>
      &nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="picdoc/8.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mr. Surya Bhan Mishra </h5>
          <p class="card-text">Care Manager
            Omkar Sewa Sansthan</p>
        </div>
      </div>
      &nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="picdoc/7.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mr. Agam Chandra Maurya  </h5>
          <p class="card-text">Spokesman
            Omkar Sewa Sansthan</p>
        </div>
        </div>
        &nbsp;&nbsp;
        </div>
        &nbsp;&nbsp;&nbsp;
        <!--footer part start-->  
      {{>footer}}
        <script>
          // When the user scrolls down 50px from the top of the document, resize the header's font size
         /* window.onscroll = function() {scrollFunction()};
          
          function scrollFunction() {
            if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 50) {
              document.getElementById("header").style.fontSize = "30px";
            } else {
              document.getElementById("header").style.fontSize = "90px";
            }
          }*/
          </script>             

</body>
</html>